#inputArea {
    resize: none;
    overflow: auto;
    min-height: 200px;
    width: 100%;
    font-size: medium;
    color: aliceblue;
    background-color: transparent;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    outline: none;
    margin: 10px;
}

#inputArea::placeholder {
    font-size: medium;
    color: aliceblue;
}

#inputDiv {
    min-height: 200px;
    font-size: small;
    white-space: pre;
}

#output {
    display: none;
    min-height: 200px;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    overflow: hidden;
    padding: 0;
}

#output>div {
    display: grid;
    resize: both;
    overflow: visible;
    margin: 10px;
}

#output>div>embed {
    width: 100% !important;
    margin-top: auto;
    margin-bottom: auto;
}

#convert {
    font-size: 25px;
    width: 100%;
}

#convertSpan {
    font-size: small;
}

#buttonDiv {
    height: auto;
    text-align: right;
    margin-top: 10px;
}

#main {
    margin-top: 30px;
    min-width: 700px;
    color: aliceblue;
}

#photoCopyright {
    text-decoration: underline;
    font-size: 18px;
    color: azure;
}

footer {
    margin-top: 15%;
    text-align: center;
}

body::before {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(images/bg.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: visible;
    z-index: -1;
    content: "";
}

@media only screen and (max-width: 700px) {
    #main {
        margin-top: 0px;
        min-width: 100%;
        position: relative;
    }
    #output {
        grid-auto-flow: row;
    }
    #convertSpan {
        min-height: 150px;
    }
}